/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}








.login{ 
    background-image: url(img/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 645px;
}

button{
    float: right;
    border: 0;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    width: 80px;
    font: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.b1{
    margin-right: 30px;
    background-color: #FFFFFF;
}

.b2{
  background-color: transparent;
  color: white;
}

img{
    height: auto;
    width: 100px;
    
}

.restaurante{
    color: white;
    display: block;
    justify-content: center;    
    font-size: 32px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}

.doordash{
  font-weight: 600;
  font-size: x-large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 45%;
}

.entrega{
  text-align: center;
  size: 12;
  

}

input{
   margin-top: 30px;
    height: 50px;
    border: 0;

}

.botao{
  margin-left: -50px;
  margin-top: 0px;
  border: 0;
  background-color: #05bbf8;
  padding-top: 5px;
  height: 30px;
  width: 40px;
  border-radius: 50px;
  filter: invert(100%);
}




.endereco{
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  border-radius: 30px;
}

  a{
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
  
  
}

.acessoconta{
  margin-top: 0;
  width: 400px;
  font-weight: bold;
  border-top: 1px solid gray;
  margin-top: -10px;
}

div.acesso > input{
  width: 400px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -20px;
}

.local{
  color: rgb(102, 101, 101) ;
  font-weight: bold;
}

/* nav{
  display: inline-block;
  width: 100%;
} */

.button-up{
  text-align: right;
}

.info{
  height: 645px;
  display: flex;
  justify-content: space-around;
  

}

div.parent{
  text-align: center;
}


